.App {
  text-align: center;
}

.title-header {
  display: flex;
  width: 100%;
  height: 20vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: aqua;
  justify-content: center;
  align-content: flex-end;
}